.buttons-theme [data-orrery-iris-part="close"] {
  position: absolute;
  top: 16px;
  right: 16px;
}

h2 {
  margin: 24px 0 8px;
}

p {
  margin: 0;
}

ul {
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 12px 0;
  border-top: 1px solid #e5e5e5;
}
